body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
}
.cover {
    height: 400px;
    background-image: url(img/clinica.jpg) ;
    color: cornflowerblue;
    background-size: cover;

}
.card{
    border:0 !important;
    box-shadow: o 4px 6px -1px rgba( 0, 0, 0 ,0 ) , 0px 4px -1px  rgb(0, 0, 0, 0.06 );
}
.responsive-iframe{
    position: relative;
    padding-top: 56.25%;
}
.responsive-iframe iframe{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}



}
.sociales{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.blockquote-footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}